<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
</head>
<body>
<h1>This is Ornetas's Query</h1>

<p> <a href="http://localhost:8080/citymapping/test">This is a test page</a> </p>
<p> <a href="http://localhost:8080/citymapping/city/all">Open whole city list</a> </p>
<p> <a href="http://localhost:8080/citymapping/city/1000">Find city by city ID</a> </p>
<p> <a href="http://localhost:8080/citymapping/city/name/Newport">Find city by city name</a> </p>
<p> <a href="http://localhost:8080/citymapping/city/like/new">Find city by having part of the city name</a> </p>
<p> <a href="http://localhost:8080/citymapping/city/querylike/dam">Find city by having part of the city name</a> </p>

<h1>Open pages with templates</h1>

<p> <a href="http://localhost:8080/citytemplate/firstpage/city/all">Open all cities with templates</a> </p>
<p> <a href="http://localhost:8080/citytemplate/firstpage/city/1000">Open city by ID with template</a> </p>
<p> <a href="http://localhost:8080/citytemplate/firstpage/citylike/dam">Open all cities having just part of the name with template</a> </p>

<div>

</div>

</body>
</html>